body,
html {
    margin: 0;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-size: 5em;
    text-shadow: 2px -1px white;
}

.capa {
    background-position: center;
    background-attachment: fixed;
    background-image: url(bg2.jpg);
    opacity: 0.9;
    height: 100%;
}

.menu-principal {
    padding-top: 5%;
    height: 100%;
    color: white;
}

.conteudo {
    background-color: rgba(255, 255, 255, 0.959);
    color: rgb(41, 38, 38);
    text-align: center;
    padding: 1% 4%;
    font-size: 1.1em;
}

footer {
    background-color: black;
    height: 9%;
}



#bolas {
    height: 25%;
}


.bolas:hover {
    transform: scale(0.9) rotate(720deg) translate(0px, 0px);
    transition: 1.5s;
}

.bolas:active {
    transform: scale(0.1) translate(0px, 1000px);
    transition: 1s;
}

.bolas {
    transition: 3s;
    opacity: 0.8;
}


#menu {
    width: 40%;
    margin: 0 auto;
}

#menu select,
option {
    overflow: hidden;

}

#jogar:hover {
    transform: scale(1.6);
    transition: 0.2s;
}

#jogar {
    transform: scale(1.2);
    transition: 0.5s;
}


#btn-botton,
#btn-top {
    position: fixed;
    bottom: 1%;
    right: 1%;
    display: none;
    cursor: pointer;
}

footer a {
    margin: 0 5%;
    cursor: pointer;
}