html,
body {
  background: url("../img/bg2.jpg") bottom fixed no-repeat;
  color: beige;
  overflow: hidden;
  cursor: url("../img/chuteira_1.png") 10 20, crosshair;
}

.bolaPlacar {
  width: 15px;
  transition: 1.5s;
}

.bolaPlacar:hover {
  transform: scale(1.5);
  transition: 0.2s;
}

header .bolaPlacar:active {
  transform: scale(1.2) rotate(0deg) translate(0, 1000px);
  transition: 0.5s;
}

footer .bolaPlacar:active {
  transform: scale(1.2) rotate(0deg) translate(0, -1000px);
  transition: 0.5s;
}



.tamanho0 {
  width: 30px;
  height: 30px;
}

.tamanho1 {
  width: 40px;
  height: 40px;
}

.tamanho2 {
  width: 50px;
  height: 50px;
}

#bola:hover {
  transform: scale(0.9) rotate(-360deg) translate(0px, 0px);
  transition: 0.4s;
}

#jogo {
  position: absolute;
  border: 5px solid red;
  top: 11%;
  left: 10%;
  height: 78%;
  width: 80%;
}