html,
body {
  background: url("../img/bg2.jpg") bottom fixed no-repeat;
  color: rgb(165, 165, 165);
  overflow-y: hidden;
  cursor: url("../img/chuteira_1.png") 10 20, crosshair;
}

.bolaPlacar {
  width: 15px;
  transition: 1.5s;
}

.bolaPlacar:hover {
  transform: scale(1.5);
  transition: 0.2s;
}

header .bolaPlacar:active {
  transform: scale(1.2) rotate(0deg) translate(0, 1000px);
  transition: 0.5s;
}

footer .bolaPlacar:active {
  transform: scale(1.2) rotate(0deg) translate(0, -1000px);
  transition: 0.5s;
}



.tamanho0 {
  width: 30px;
  height: 30px;
}

.tamanho1 {
  width: 40px;
  height: 40px;
}

.tamanho2 {
  width: 50px;
  height: 50px;
}

#bola:hover {
  transform: scale(0.9) rotate(-360deg) translate(0px, 0px);
  transition: 0.4s;
}

body {
  position: static;
}

#jogo {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 70%;
  width: 75%;
  clear: both;
}


header {
  position: absolute;
  top: 0%;
  left: 10%;
  height: 10%;
  width: 80%;
}

footer {
  position: absolute;
  top: 90%;
  left: 10%;
  height: 10%;
  width: 80%;
}